<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/styles.css" />
<title>Index</title>
</head>
<body>

	<th:block th:if="${personas!=null and !personas.empty}">
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Telefono</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="persona : ${personas}">
				<td th:text="${persona.nombre}"></td>
				<td th:text="${persona.apellido}"></td>
				<td th:text="${persona.email}"></td>
				<td th:text="${persona.telefono}"></td>
			</tr>			
		</tbody>
	</table>
</th:block>
	
<th:block th:unless="${personas!=null and !personas.empty}">
	<p>La lista de personas está vacía</p>
</th:block>

</body>
</html>